#banner {
	background-image: url('/images/header_img.avif');
	background-size: cover;
	background-position: left;
	height: 100vh;
}

.paragraph {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.projectImage {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.devicon {
	font-size: 2.5rem;
}

@media (max-width: 576px) {
	.navbar-nav {
		margin: auto;
		text-align: center;
	}
}

@media (max-width: 992px) {
	#banner {
		height: 55vh; /*50% + 5% because the navbar is laid on top*/
	}
}