#banner {
	margin-top: 56px;
}

.paragraph {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.projectImage {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@media (max-width: 576px) {
	.navbar-nav {
		margin: auto;
		text-align: center;
	}
}